<html>

<head>
    <title>Ca-PEE-tal Tracker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/pluralize.js"></script>
    <script src="js/data.app.js"></script>
    <script src="js/logic.app.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEFMBYE34Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HEFMBYE34Y');
    </script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for more than simple.
            'mapsApiKey': 'AIzaSyCARIrIRh4GT-7tD7dVTmB2_nK3DzvNMuk'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);
    </script>
    <meta property="og:url" content="<%= fullUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="I've peed in <%= stateCount %> state <%= capitalStr %>: <%= stateListStr %>" />
    <meta property="og:image" content="<%= imgUrl %>" />
    <meta property="fb:app_id" content="953843409571390" />

</head>

<body class="is-preload">
    <!-- Facebook share button -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0&appId=953843409571390" nonce="Dv5HItHj"></script>
    <!-- Header -->
    <header id="header">
        <a href="/" class="title">Ca-PEE-tal Tracker</a>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <center>
                    <p>Welcome to the Ca-PEE-tal tracker where you track each US state capital you've urinated!</p>
                    <h2 id="amount"></h2>
                    <div id="regions_div"></div>
                    <br \>
                    <script language="javascript">
                        function fbshareCurrentPage()
                        {window.open("https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(window.location.href)+"&t="+document.title, '',
                        'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
                        return false; }
                    </script>
                    <a href="javascript:fbshareCurrentPage()" alt="Share on Facebook"><img src="/images/facebook.png" alt="Facebook" style="width: 50px; height: 50px;"></a>

                </center>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Lastcoolnameleft. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
</body>

</html>