<%- include ('includes/header.ejs', {isIndex: true, isMap: true}) %>

    <div id="wrapper">
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner center">
                <script>
                    is_share_page = <%= is_share_page %>;

                    function showStateCapitals() {
                        document.getElementById("myDropdown").classList.toggle("show");
                    }

                    // Close the dropdown menu if the user clicks outside of it
                    window.onclick = function(event) {
                        if (!(event.target.matches('.dropbtn') || event.target.matches('.dropdown-item'))) {
                            var dropdowns = document.getElementsByClassName("dropdown-content");
                            var i;
                            for (i = 0; i < dropdowns.length; i++) {
                                var openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                }
                            }
                        }
                    }

                    function share() {
                        const activeRegions = countActiveLocations(regionArray);
                        const totalRegions = regionArray.length;
                        const amount = getAmount(activeRegions, totalRegions, volumeHash, activeRegions * 8, true)
                        const shareData = {
                           url: getShareUrl(),
                           text: amount,
                           title: 'Join the Uri-nation Nation!',
                        };
                        navigator.share(shareData)
                            .then(() => console.log('Successful share'))
                            .catch((error) => console.log('Error sharing', error));
                    }

                </script>
                    <h2>Welcome to the Ca-PEE-tal Tracker where you track each US state capital you've urinated!</h2>
                    <h3 style="color: #e0b336;" id="amount"></h3>
                    <div id="regions_div"></div>
                    <div class="dropdown">
                        <button onclick="showStateCapitals()" class="dropbtn">State Capitals <i class="arrow down"></i></button>
                        <div id="myDropdown" class="dropdown-content">
                            <% for (const [code, name] of Object.entries(regionHash)) { %>
                                <a class="dropdown-item" id="dropdown-item-<%= code.toLowerCase() %>" onclick="toggleRegion(regionArray, '<%= code %>');"><%= name %></a>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <br>
                    <button
                        onclick="share()" class="button">Click here to overshare!</button>
                    <br>
                    <ul class="share-buttons" >
                        <li><a class="no-border-bottom" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcapeetaltracker.com%2F&quote="
                                title="Share on Facebook" target="_blank"
                                onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(getShareUrl()) + '&quote=' + encodeURIComponent(getShareUrl())); return false;"><img
                                    alt="Share on Facebook" src="/images/share/facebook.png" /></a></li>
                        <li><a class="no-border-bottom" href="mailto:?subject=&body=:%20https%3A%2F%2Fcapeetaltracker.com%2F" target="_blank"
                                title="Send email"
                                onclick="window.open('mailto:?subject=' + encodeURIComponent(getShareTitle()) + '&body=' +  encodeURIComponent(getShareUrl())); return false;"><img
                                    alt="Send email" src="images/share/email.png" /></a></li>
                        <li><a class="no-border-bottom" href="http://www.tumblr.com/share?v=3&u=https%3A%2F%2Fcapeetaltracker.com&quote=&s="
                                target="_blank" title="Post to Tumblr"
                                onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(getShareUrl()) + '&quote=' +  encodeURIComponent(getShareTitle())); return false;"><img
                                    alt="Post to Tumblr" src="images/share/tumblr.png" /></a></li>
                        <li>
                            <div class="tooltip">
                                <img src="/images/share/link.png" onclick="copyButton()"
                                    onmouseout="onMouseOutLinkShare()">
                                <span class="tooltiptext" id="myTooltip">Press to copy</span>
                            </div>
                        </li>
                    </ul>
            </div>
        </section>
    </div>

    <%- include ('includes/footer.ejs') %>